<div class="btn-menu" onclick="window.location.href = '#/Ciudad'">
    <button><span class="glyphicon glyphicon-th"></span></button>Ciudad
</div>
<div class="btn-menu" onclick="window.location.href = '#/Cliente'">
    <button><span class="glyphicon glyphicon-th"></span></button>Cliente
</div> 
<div class="btn-menu" onclick="window.location.href = '#/Libro'">
    <button><span class="glyphicon glyphicon-th"></span></button>Libro
</div>
<div class="btn-menu" onclick="window.location.href = '#/Autor'">
    <button><span class="glyphicon glyphicon-th"></span></button>Autor
</div>
<div class="btn-menu" onclick="window.location.href = '#/Prestamo'">
    <button><span class="glyphicon glyphicon-th"></span></button>Préstamo
</div>

